@tailwind base;
@tailwind components;
@tailwind utilities;

.selected-box .option-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

.selected-box .option-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.selected-box .option-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

.selected::after {
  content: "";
  background: url("../image/arrow-down.svg");
  background-size: content;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 10px;
}

.selected-box .option-container.active + .selected::after {
  transform: rotateX(180deg);
  transition: all 0.2s ease;
  top: -15px;
}

label::before {
  content: "";
  position: absolute;
  left: 9px;
  width: 24px;
  height: 24px;
  background: url("../image/check-regular-24.png") no-repeat center;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.option input[type="radio"]:checked + label::before {
  opacity: 1;
}

.active {
  background-color: #2f3640;
  color: white;
}
.active:hover {
  color: white;
}
